#nasa {
    background-image: url("astronaut-11080_1280.webp");
    background-repeat: no-repeat;
    height: 450px;
    width: 850px;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    

}
h1 {
    font-size: 50pt;
    color: white;
    font-weight: bold;
       
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 850px;
    background-color: lightgrey;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    /* background-position: center; */
    

}